common: &common
  adapter: mysql2
  encoding: utf8
  database: onemdm_dev
  pool: 5
  host: localhost
  username: user
  password: password

development:
  <<: *common
  database: onemdm_dev

test:
  <<: *common
  database: onemdm_test

production:
  <<: *common
  database: onemdm_production
